.ticker {
    width: 128px;
    height: 40px;
    background-color: black;
}

.tickerLogo {
    position: absolute;
    top: 1px;
    left: 0px;
    height: 100%;
    font-size: 25px;
    text-align: center;
}

.ticker-header-base {
    position: absolute;
    bottom: 0px;
    font-family: 'roboto', sans-serif;
    text-align: center;
    font-size: 10px;    
    width: 25px;
}

.ticker-loading {
    position: absolute;
    top: 12px;
    text-align: center;
    font-size: 12px;
    width: 103px;
}

.ticker-content {
    position: absolute;
    left: 25px;
    width: 103px;
    height: 40px;
    font-family: 'roboto', sans-serif;
    text-align: center;
    font-size: 12px;
}

