html {
  width: 22px;
  height: 6px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
    width: 22px;
    height: 6px;
  }

@keyframes scanner {
  from {
    top: 7px;
  }

  to {
    top: -1px;
  }
}

@keyframes gradient {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.downtick {
  position: absolute;
  width: 22px;
  height: 6px;
  background: #000;
  /* background: #F00; */
  /* animation: gradient 5s linear infinite; */
}

.uptick {
  position: absolute;
  width: 22px;
  height: 6px;
  background: #0F0;
  animation: gradient 5s linear infinite;
}

