body {
  font-family: sans-serif;
  font-size: 14px;
  color: #FFF;
  margin: 0;
  padding: 0;
  max-width: 128px;
  max-height: 40px;
  overflow: hidden;
  height: 100vh;
}

.tickerRow {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 1px;
}

.tickerLogo {
  padding: 2px;
}

.tickerText {
  flex-grow: 1;
  text-align: center;
}

.tickerText span {
  font-size: 10px;
}