body {
  color: #FFF;
  margin: 0;
  padding: 0;
  max-width: 128px;
  max-height: 40px;
  overflow: hidden;
  height: 100vh;
}

.ticker {
  display: flex;
}

.tickerRow {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 1px;
  justify-content: center;
  flex-grow: 1;
}

.tickerLogo {
  overflow: hidden;
  position:absolute;
  top: 2px;
  height: 100%;
  font-size: 38px;
  text-align: center;
}

.tickerText {
  overflow: hidden;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  height: 50vh;
}

.tickerQuote {
  overflow: hidden;
  font-family: sans-serif;
  font-size: 12px;
}

.tickerSpacer {
  overflow: hidden;
  width: 38px;
}